### Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

 - если источник traffic_source равен yandex или google, то в source_type ставится organic
 - для источников paid и email из России - ставим ad
 - для источников paid и email не из России - ставим other
 - все остальные варианты берем из traffic_source без изменений

In [29]:
import pandas as pd

In [30]:
log = pd.read_csv('data_csv/visit_log.csv', sep = ';')

In [31]:
def set_source_type(line):
    
    if line['traffic_source'] == 'yandex' or  line['traffic_source'] == 'google':
        result = 'organic'
    elif (line['traffic_source'] == 'paid' or line['traffic_source'] == 'email') and line['region'] == 'Russia':
        result = 'ad'
    elif (line['traffic_source'] == 'paid' or line['traffic_source'] == 'email') and line['region'] != 'Russia':
        result = 'other'    
    else:
        result = line['traffic_source']
        
    return result

In [32]:
%%time

log['source_type'] = log.apply(set_source_type, axis=1)

CPU times: user 276 ms, sys: 1.11 ms, total: 277 ms
Wall time: 276 ms

In [33]:
%%time


log['source_type_v2'] = log['traffic_source']

log.loc[((log['traffic_source'].isin(['email','paid'])) 
         & (log['region'] == 'Russia')), 'source_type_v2'] = 'ad'

log.loc[((log['traffic_source'].isin(['email','paid'])) 
         & (log['region'] != 'Russia')), 'source_type_v2'] = 'other'

log.loc[log['traffic_source'].isin(['google','yandex']), 'source_type_v2'] = 'organic'

CPU times: user 5.7 ms, sys: 569 µs, total: 6.27 ms
Wall time: 5.73 ms

### Задание 2


В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

 1. Прочитайте содержимое файла с датафрейм
 2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [34]:
urls = pd.read_csv('data_csv/URLs.txt')

In [35]:
urls[urls.url.str.contains(r'[0-9]{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

### Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [36]:
ratings = pd.read_csv('data_csv/ml-latest-small/ratings.csv')

In [37]:
#перевод в datatime
ratings['data_time'] = pd.to_datetime(ratings.timestamp, unit='s')

In [38]:
#создание дата фрейма с сгрупированными данными для дальнейшего расчта
ratings_clean = ratings.groupby('userId').agg({'data_time':['min','max'],'userId':['count']})

In [39]:
# расчет времени активности пользователя в отдельный столбец
ratings_clean['diff'] = ratings_clean['data_time'].diff(axis=1)['max']

In [40]:
(ratings_clean[['userId', 'diff']] # выборка с олбцов
     .loc[ratings_clean['userId']['count'] > 100] # фильтр на больше 100 отценок от пользователя
     .sort_values('diff', ascending=[False])) # сортировка от большего к меньшему

       userId               diff
        count
userId
380      1063 5969 days 18:54:21
547      2391 5807 days 23:48:55
427       294 5515 days 20:20:56
15       1700 5455 days 22:38:16
624      1735 5295 days 01:15:07
...       ...                ...
110       120    0 days 00:19:08
217       104    0 days 00:16:21
316       140    0 days 00:15:16
609       140    0 days 00:14:08
536       109    0 days 00:03:26

[258 rows x 2 columns]

### Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
Необходимо сформировать две таблицы:
 - таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
 - аналогичную таблицу по типам выручки с указанием адреса клиента

In [41]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [42]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [43]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [44]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [45]:
(client_base.merge(rzd, on = 'client_id', how = 'left')
             .merge(air, on = 'client_id', how = 'left')
             .merge(auto, on = 'client_id', how = 'left'))

   client_id          address  rzd_revenue  air_revenue  auto_revenue
0        111  Комсомольская 4       1093.0          NaN           NaN
1        112   Энтузиастов 8а       2810.0          NaN           NaN
2        113  Левобережная 1а      10283.0          NaN       57483.0
3        114          Мира 14       5774.0          NaN          83.0
4        115        ЗЖБИиДК 1        981.0         81.0         912.0
5        116    Строителей 18          NaN          4.0        4834.0
6        117  Панфиловская 33          NaN         13.0          98.0
7        118     Мастеркова 4          NaN        173.0           NaN

In [46]:
(client_base['client_id'].to_frame().merge(rzd, on = 'client_id', how = 'left')
             .merge(air, on = 'client_id', how = 'left')
             .merge(auto, on = 'client_id', how = 'left'))

   client_id  rzd_revenue  air_revenue  auto_revenue
0        111       1093.0          NaN           NaN
1        112       2810.0          NaN           NaN
2        113      10283.0          NaN       57483.0
3        114       5774.0          NaN          83.0
4        115        981.0         81.0         912.0
5        116          NaN          4.0        4834.0
6        117          NaN         13.0          98.0
7        118          NaN        173.0           NaN