### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [3]:
def set_name_rating_v1 (param): 
    if param <= 2: 
        res = 'low'
    elif 2 < param <= 4:
        res = 'middle'
    elif param > 4:
        res = 'high'
    return res

In [4]:
ratings['class'] = ratings['rating'].apply(set_name_rating_v1)

In [5]:
def set_name_rating_v2 (param): # по условиям текста задачи (при входящих данных нет разницы)
    if param <= 2: 
        res = 'low'
    elif 2 < param <= 4:
        res = 'middle'
    elif param == 4.5 or param == 5 :
        res = 'high'
    return res

In [6]:
ratings['class_v2'] = ratings['rating'].apply(set_name_rating_v2)

In [7]:
# checking and outputting function results 'set_name_rating_v1'
ratings.groupby(['rating', 'class']).mean().filter(['rating', 'class']) # without 'mean' 'groupby' didn't work

Empty DataFrame
Columns: []
Index: [(0.5, low), (1.0, low), (1.5, low), (2.0, low), (2.5, middle), (3.0, middle), (3.5, middle), (4.0, middle), (4.5, high), (5.0, high)]

In [8]:
# checking and outputting function results 'set_name_rating_v1'
ratings.groupby(['rating', 'class_v2']).mean().filter(['rating', 'class_v2'])

Empty DataFrame
Columns: []
Index: [(0.5, low), (1.0, low), (1.5, low), (2.0, low), (2.5, middle), (3.0, middle), (3.5, middle), (4.0, middle), (4.5, high), (5.0, high)]

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }

Результат классификации запишите в отдельный столбец region.

In [9]:
geo_data = { 
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'], 
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] 
}

In [10]:
data = pd.read_csv('ml-latest-small/keywords.csv')

In [90]:
def geo_classifier (param):
    for key, item in geo_data.items():
        for search_word in item:
            if search_word[:-1] in param:
                return key
    return 'undefined'

In [91]:
data['region'] = data['keyword'].apply(geo_classifier)

In [95]:
test = 'москва'

In [96]:
data[data['keyword'].str.contains(test[:-1])]

                                                 keyword   shows region
127                                         авито москва  979292  Центр
143                                           эхо москвы  889657  Центр
197                                      погода в москве  745745  Центр
414                           погода в москве на 14 дней  400914  Центр
512                                   карта метро москвы  331857  Центр
...                                                  ...     ...    ...
99395  банки москвы вклады под высокие проценты сегод...    3753  Центр
99418  работа с ежедневной оплатой в москве свежие ва...    3719  Центр
99494                         погода на 14 дней в москве  400914  Центр
99597                           индексы москвы по адресу    3574  Центр
99890                                яндекс метро москва    4548  Центр

[660 rows x 3 columns]

### Задание 3

In [129]:
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [130]:
# выделить года
years = list(x for x in range(1950, 2011, 1))

In [131]:
def production_year(param):
    for year in years:
        if str(year) in param:
            return year
    return 1900

In [132]:
movies['year'] = movies['title'].apply(production_year)

In [135]:
resalt = (ratings
 .merge(movies, on='movieId', how='left') #соединение 2х таблиц
 .groupby('year').mean() # группировка году и вычисление среднего значения
 .filter(['year', 'rating']) # фитр на 2 необходимых столбца
 .sort_values('rating', ascending=[False])) # сортировка рейтинга по убыванию

In [136]:
resalt

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]