In [1]:
import pandas as pd
import numpy as np

In [2]:
# список для названий колонок
col_name = ['col_' + str(x) for x in range(1, 29)]

In [3]:
# чтение и запись файла
df = pd.read_csv('horse_data.csv', names=col_name, na_values='?')

1 surgery?, операция 1да/2нет
2 Age, 1 младше6/2 старше6  
4 rectal temperature, градусы нормальная 37.8  
5 pulse,  30 -40 норм
6 respiratory rate, 7-8 норм
7 temperature of extremities, 1 норм/2теплый/3прохладный/4 холодный
11 pain, 
23 outcome. 1 = жил/2 = умер/3 = был усыплен

In [4]:
# фильтр по нужным колонкам
df = df.filter(['col_1', 'col_2', 'col_4', 'col_5', 'col_6', 'col_7', 'col_11', 'col_23' ])

In [5]:
# переименование колонк
df = df.rename(columns={'col_1': 'surgery?',
                    'col_2': 'Age',
                    'col_4': 'rectal temperature',
                    'col_5': 'pulse',
                    'col_6': 'respiratory rate',
                    'col_7': 'temperature of extremities',
                    'col_11': 'pain',
                    'col_23': 'outcome' })

In [6]:
df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [7]:
# линейные показатели
#Минимум, максимум и размах
print('Минимальное значение для линейных значений')
print(df[[ 'rectal temperature','pulse', 'respiratory rate' ]].min())

print('')
print('Максимальное значение для линейных значений')
print(df[[ 'rectal temperature','pulse', 'respiratory rate' ]].max())

print('')
print('Размах')

rectal_temp_range = df['rectal temperature'].max() - df['rectal temperature'].min()
print(f'rectal_temp_range  \t {rectal_temp_range:.1f}')

pulse_range = df['pulse'].max() - df['pulse'].min()
print(f'pulse_range \t \t {pulse_range:.1f}')

respiratory_rate_range = df['respiratory rate'].max() - df['respiratory rate'].min()
print(f'resp_rate_range \t {respiratory_rate_range:.1f}')

print()
print('Среднеарифметическое')
print(df[[ 'rectal temperature','pulse', 'respiratory rate' ]].mean().round(1))

print()
print('Медиана')
print(df[[ 'rectal temperature','pulse', 'respiratory rate' ]].median().round(1))

print()
print('СКО')
print(df[[ 'rectal temperature','pulse', 'respiratory rate' ]].std().round(1))

print()
print('Дисперсия')
print(df[[ 'rectal temperature','pulse', 'respiratory rate' ]].var().round(1))

Минимальное значение для линейных значений
rectal temperature    35.4
pulse                 30.0
respiratory rate       8.0
dtype: float64

Максимальное значение для линейных значений
rectal temperature     40.8
pulse                 184.0
respiratory rate       96.0
dtype: float64

Размах
rectal_temp_range  	 5.4
pulse_range 	 	 154.0
resp_rate_range 	 88.0

Среднеарифметическое
rectal temperature    38.2
pulse                 71.9
respiratory rate      30.4
dtype: float64

Медиана
rectal temperature    38.2
pulse                 64.0
respiratory rate      24.5
dtype: float64

СКО
rectal temperature     0.7
pulse                 28.6
respiratory rate      17.6
dtype: float64

Дисперсия
rectal temperature      0.5
pulse                 819.7
respiratory rate      311.2
dtype: float64

In [8]:
#категорийные
#значение моды и колво вхождений

surgery_mode = df['surgery?'].round().mode()[0]
surgery_mode_count = len(df[(df['surgery?'] == (df['surgery?'].round().mode()[0])) ]['surgery?'])
print(f'Значение моды для surgery? : {surgery_mode} Кол-во вхождений: {surgery_mode_count}')

print()
age_mode = df['Age'].round().mode()[0]
age_mode_count = len(df[(df['Age'] == (df['Age'].round().mode()[0])) ]['Age'])
print(f'Значение моды для Age : {age_mode} Кол-во вхождений: {age_mode_count}')

print()
toe_mode = df['temperature of extremities'].round().mode()[0]
toe_mode_count = len(df[(df['temperature of extremities'] == (df['temperature of extremities'].round().mode()[0])) ]['temperature of extremities'])
print(f'Значение моды для temperature of extremities : {toe_mode} Кол-во вхождений: {toe_mode_count}')


print()
pain_mode = df['pain'].round().mode()[0]
pain_mode_count = len(df[(df['pain'] == (df['pain'].round().mode()[0])) ]['pain'])
print(f'Значение моды для pain : {pain_mode} Кол-во вхождений: {pain_mode_count}')

print()
outcome_mode = df['outcome'].round().mode()[0]
outcome_mode_count = len(df[(df['outcome'] == (df['outcome'].round().mode()[0])) ]['outcome'])
print(f'Значение моды для pain : {outcome_mode} Кол-во вхождений: {outcome_mode_count}')

Значение моды для surgery? : 1.0 Кол-во вхождений: 180

Значение моды для Age : 1 Кол-во вхождений: 276

Значение моды для temperature of extremities : 3.0 Кол-во вхождений: 109

Значение моды для pain : 3.0 Кол-во вхождений: 67

Значение моды для pain : 1.0 Кол-во вхождений: 178

# Выбросы

In [9]:
print('Выбросы rectal temperature')
q1 = df['rectal temperature'].quantile(0.25)
q3 = df['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(df[(df['rectal temperature'] < lower_bound) | 
         (df['rectal temperature'] > upper_bound)]['rectal temperature'])


print()
print('Выбросы pulse')
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(df[(df['pulse'] < lower_bound) | 
         (df['pulse'] > upper_bound)]['pulse'])

print()
print('Выбросы respiratory rate')
q1 = df['respiratory rate'].quantile(0.25)
q3 = df['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(df[(df['respiratory rate'] < lower_bound) | 
         (df['respiratory rate'] > upper_bound)]['respiratory rate'])

Выбросы rectal temperature
20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: rectal temperature, dtype: float64

Выбросы pulse
3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: pulse, dtype: float64

Выбросы respiratory rate
3      84.0
39     96.0
41     72.0
82     80.0
84     80.0
103    68.0
106    96.0
120    66.0
125    68.0
186    90.0
208    80.0
229    70.0
244    88.0
255    84.0
265    68.0
269    90.0
295    70.0
Name: respiratory rate, dtype: float64

  ### Пустые строки и заполнение
  считаем что все пропуски случайны и удаляем

In [10]:
df_clean = df.dropna()

In [11]:
df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [12]:
df_clean.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000
mean,1.435065,1.623377,38.163636,70.844156,29.649351,2.220779,2.694805,1.480519
std,0.497383,2.151388,0.731890,29.609690,16.122299,1.061795,1.217132,0.697529
min,1.000000,1.000000,35.400000,36.000000,9.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,60.000000,27.000000,2.500000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,3.000000,2.000000
max,2.000000,9.000000,40.800000,184.000000,88.000000,4.000000,5.000000,3.000000