### Домашнее задание

    - необходимые библиотеки

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot  as plt

    - загрузка данных

In [3]:
data = pd.read_csv('adult.csv')

    - первичный анализ

In [4]:
# просмотр общей информации по датасету
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
# просмотр первых 5 записей датасета
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [6]:
# # списки уникальных и пустых значений  текстовых полей

# print('workclass:', data['workclass'].unique())
# print()
# print('education:', data['education'].unique())
# print()
# print('educational-num:', data['educational-num'].unique())
# print()
# print('marital-status:', data['marital-status'].unique())
# print()
# print('occupation:', data['occupation'].unique())
# print()
# print('relationship:', data['relationship'].unique())
# print()
# print('gender:', data['gender'].unique())
# print()
# print('race:', data['race'].unique())
# print()
# print('income:', data['income'].unique())
# print()

In [7]:
# проверка зависимости полей 

(data.groupby(['workclass','occupation', 'education'])
            .size()
            .reset_index()
            .rename(columns={0:'count'})
            .query('workclass == "?" | occupation == "?"'))

        workclass occupation     education  count
0               ?          ?          10th    148
1               ?          ?          11th    178
2               ?          ?          12th     58
3               ?          ?       1st-4th     18
4               ?          ?       5th-6th     41
5               ?          ?       7th-8th    110
6               ?          ?           9th     69
7               ?          ?    Assoc-acdm     72
8               ?          ?     Assoc-voc     83
9               ?          ?     Bachelors    253
10              ?          ?     Doctorate     18
11              ?          ?       HS-grad    810
12              ?          ?       Masters     67
13              ?          ?     Preschool     10
14              ?          ?   Prof-school     24
15              ?          ?  Some-college    840
250  Never-worked          ?          10th      2
251  Never-worked          ?          11th      3
252  Never-worked          ?       7th-8th      1
253  Never-worked          ?       HS-grad      2
254  Never-worked          ?  Some-college      2

принимаем что ? является отдельным типом и предположительно означает - не работает

In [8]:
# проверка зависимости полей education
(data.groupby(['education','educational-num'])
                .size()
                .reset_index()
                .rename(columns={0:'count'}))

       education  educational-num  count
0           10th                6   1389
1           11th                7   1812
2           12th                8    657
3        1st-4th                2    247
4        5th-6th                3    509
5        7th-8th                4    955
6            9th                5    756
7     Assoc-acdm               12   1601
8      Assoc-voc               11   2061
9      Bachelors               13   8025
10     Doctorate               16    594
11       HS-grad                9  15784
12       Masters               14   2657
13     Preschool                1     83
14   Prof-school               15    834
15  Some-college               10  10878

для построения модели можно использовать educational-num

#### Обработка пустых  и преобразование качественных параметров

     -

In [9]:
selectedColumns = data [['age', 
                         'workclass', 
                         'educational-num',
                         'marital-status', 
                         'occupation', 
                         'relationship', 
                         'race', 
                         'gender', 
                         'native-country']]

X = pd.get_dummies (selectedColumns, columns = ['workclass', 
                                                'marital-status', 
                                                'occupation', 
                                                'relationship', 
                                                'race', 
                                                'gender', 
                                                'native-country'] )

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
le.fit( data['income'])
y = pd.Series (data = le.transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [13]:
model = LogisticRegression()

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)

/Users/tatianautkina/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
predictions[:5] # посмотрим как выглядят наши предсказания

array([0, 0, 0, 0, 1])

In [17]:
model.predict(X_test) # получаем массив

array([0, 0, 0, ..., 1, 0, 1])

In [18]:
model.score(X_train, y_train)

0.8305735418319555

In [19]:
model.score(X_test,y_test)

0.8397993653393387

In [24]:
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline # используем пайплайны для удобства
# используем пайплайны
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [25]:
clf.score(X_train, y_train)

0.8324930258746449

In [26]:
clf.score(X_test, y_test)

0.8337598525949432